HELP.md
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.idea
.idea
.idea/
*.iws
*.iml
*.ipr
**/.DS_Store
**/.settings
**/.project
**/.classpath



apache-maven-3.8.6

